* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 24px;
  display: flex;
  width: 100%;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
